h1 {
  text-align: center;
}

#rules h3{
  text-decoration: underline;
  text-align:center;
}

body{
  background-image: url("../img/cartoon_pig_face.jpg");
  background-position: top;
}

/*Send rules section to left of screen*/
#rules{
  float: left;
  text-align: left;
  border-right: 1px solid;
}
/*Send main window section to right of screen*/
#main_window{
  float: right;
}
/*Hide play buttons on load*/
#playWindow{
  display: none;
}
